<div class="modal" materialize="modal" [materializeActions]="modalActions">

	<div class="modal-content">

		<div class="row">

			<div class="row">

			<span class="modal-close right">
			  <i class="fa fa-times" aria-hidden="true"></i>
			</span>
			</div>
			<div class="row">
		<h3 class="grey-text text-darken-2">{{authMode}}</h3>
		<app-login-form (onFormResult)="onLoginFormResult($event)" *ngIf="isLoginMode()"></app-login-form>

		<app-register-form (onFormResult)="onRegisterFormResult($event)" *ngIf="isRegisterMode()"></app-register-form>
			</div>
			<div class="row">
				<!-- if it return this.authMode == login mode -->
				<span class="grey-text text-darken-2" *ngIf="isLoginMode()">
					<!-- if isLoginMode() is equal to true run this -->

					Need an Account? <a (click)="authMode='register'"> Click here to register </a>					
				</span>
				<span class="grey-text text-darken-2" *ngIf="isRegisterMode()">
					Already Registered An account, Click here to login <a (click)="authMode='login'"> Click here to login </a>
				</span>
				
			</div>
		</div>
	</div>	
</div>

